body {
    background-color:rgb(81, 187, 232);
    font-family: Arial, sans-serif;
    margin: 05%;
    padding:0%;
  }
  header{
    color: black;
}
button {
  padding: 10px;
  margin: 20px;
  background-color: #32c737;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.block-level {
  width: 120px;
  height: 120px;
  margin: 20px;
  position: relative;
  float: left;
}